*{
    margin: 0;
}

body {
    background-image: linear-gradient(135deg,#00e7d4, #505488, #ef3f80, #161569, #ef3f80, #505488, #00E7D4);
    background-size: 500%;
    background-repeat: no-repeat;
    animation: fanimado 60s infinite;
}

.contenedor{

    width: 100vw;
    height: 100vh;
    text-align: center;
    font-weight: bold;
    
}

p{
    font-size: xx-large;
    padding: 5%;
}
img{
    width: 200;
    margin: 0px;
}

button{
    margin-top: 40px;
    font-size: xx-large;
    padding: 0.2em;
    font-weight: bold;
    border-radius: 5px;  
    cursor: pointer;
    background-color: #ffc9d2;
    
}


#yesBtn{
    transform: translate(-100%,0);
    
}

#noBtn{
    position: absolute;
}

@media screen and (max-width: 480px) {
    body {
        background-image: linear-gradient(135deg,#00e7d4, #505488, #ef3f80, #161569, #ef3f80, #505488, #00E7D4);
      background-repeat: no-repeat;
      animation: fanimado 60s infinite;
      /* Para ajustar el tamaño de la imagen a la pantalla */
    }

}
@keyframes fanimado{
    0%{
        background-image: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}